<div class="container">
  <div class="auth-block">
      <div class="user">
        <mat-form-field>
          <input matInput placeholder="Имя" #userInput='ngModel' [(ngModel)]="user" required>
        </mat-form-field>
      </div>
      <div class="password">
        <mat-form-field>
          <input matInput type="password" placeholder="Пароль" #passwordInput='ngModel' [(ngModel)]="password" required>
        </mat-form-field>
      </div>
      <div class="button">
        <button [disabled]="!passwordInput.valid  || !userInput.valid" (click)="logIn()" mat-raised-button color="primary">Войти</button>
      </div>
  </div>
</div>
