<div class="container">
  <div class="button-block">
    <button (click)="logOut()" mat-raised-button color="warn">Выйти</button>
  </div>
  <div class="card">
    <mat-card class="">
      <mat-card-header>
        <h1 class="mat-headline">Расчет</h1>
      </mat-card-header>
      <mat-card-content>
        <div class="calculate">
          <form [formGroup]="calculateForm">
            <div class="input-block">
              <div class="input">
                <mat-form-field>
                  <input matInput type="number" placeholder="Количество кв. метров" [formControl]="calculateForm.controls['count']">
                </mat-form-field>
              </div>
              <div class="button">
                <button [disabled]="calculateForm.invalid || wrongPrice" mat-raised-button
                        color="primary" (click)="calculate()">Расчитать
                </button>
              </div>
            </div>
            <div class="result-table" *ngIf="result.length">
              <table class="table">
                <thead>
                <tr>
                  <th>Фирма</th>
                  <th>Сумма <span class="caption">(руб.)</span></th>
                  <th *ngFor="let material of materials">{{material}} <span class="caption">(шт.)</span></th>
                  <th>Остаток <span class="caption">(л.)</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let line of result">
                  <td>{{line.name}}</td>
                  <td>{{line.price}}</td>
                  <td *ngFor="let material of materials">
                    {{line[material]}}
                    <span class="caption" *ngIf="line[material]===undefined">Нет в наличии</span>
                  </td>
                  <td>{{line.remainder}} <span class="caption" *ngIf="line.remainder===undefined"> Без остатка</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
